body{
    margin: auto;
    padding: 0;
}
.container{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    display: flex;  
    justify-content: center;
    
}
.body{
    background-image: url(../images/b_body.jpg);
    width: 251vh;
}
header{
    position: absolute;
}
main{
    position: absolute;
    top: 500px;
    width: 925px;
}
.index_header_pages{
    display: flex;
    justify-content: center;
    width: fixed;
}
.index_header_pages img{
    margin-left: 20px;
}
.button_1:hover{
    content: url(../images/btn_1_over.png)
}
.button_2:hover{
    content: url(../images/btn_2_over.png)
}
.button_3:hover{
    content: url(../images/btn_3_over.png)
}
.button_4:hover{
    content: url(../images/btn_4_over.png)
}
.button_5:hover{
    content: url(../images/btn_5_over.png)
}
.index_header_logo_space{
    display: flex;
    justify-content: center;
    width: fixed;
}
.index_slidebar{
    background-image: url(../images/b_thumbs.png);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.index_slidebar img {
    border: 1px black dotted;
    margin-left: 10px;
}
.index_slidebar .slide_arrow{
    border: none;
    cursor: pointer;
}
main section p{
    color:rgb(65, 179, 65);
    font-size: 20px;
    text-decoration: underline;
    height: 0px;
}
main section img{
    width: 220px;
    object-fit: contain;
}
.main_card_1{
    width: 300px;
    flex-direction: column;
}
.main_card_2{
    width: 300px;
    flex-direction: column;
}
.main_card_3{
    width: 300px;
    flex-direction: column;
}
.main_container{
    display: flex;
    justify-content: center;    
}
.gallery_btn{
    width: 90px;
}
/* .main_card_3 .gallery_btn{
    position: absolute;
    bottom: 0px;
} */
.bubble_img{
    width: 10px;
}
.main_date_div{
    background-image: url(../images/b_date.png);
    width: 110px;
    text-align: center;
}
.main_date_div span{
    color:rgb(65, 179, 65);
    font-size: 20px;
    text-decoration: underline;
    height: 0px;
}
.under_date_text{
    padding-left: 40px;    
}
footer{
    position: absolute;
    top: 770px;
    width: 925px;
}
footer div p a{
    text-decoration: none;
    color: rgb(20, 54, 84); 
    font-size: 20px;
    padding-left: 4px;
    padding-right: 4px;
}
footer div .footer_copyright{
    color: rgb(237, 178, 106);
}
footer .footer_right_space{
    position: absolute;
    top: 100px;
    right: 0;
    display: flex;
    align-items: center;
    width: fixed;
}